:root {
  box-sizing: border-box;
  margin: 0;

  /* Light Theme Colors */
  --veryLightGray: hsl(0, 0, 98%);
  --veryLightGrayishBlue: hsl(236, 13%, 92%);
  --lightGrayishBlue: hsl(233, 11%, 84%);
  --darkGrayishBlue: hsl(235, 19%, 35%);
  --brightBlue: hsl(220, 98%, 61%);

  /* Dark Theme Colors */
  --veryDarkBlue: hsl(235, 21%, 11%);
  --veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --lightGrayishBlue: hsl(234, 39%, 85%);
  --darkGrayishBlue: hsl(234, 11%, 52%);
  --veryDarkGrayishBlue: hsl(233, 14%, 35%);

  /* Fonts */
  --globalFont: "Josefin San", sans-serif;
  --fontSize: 18px;
}

body {
  background-color: var(--veryLightGray);
  color: var(--darkGrayishBlue);
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  font-family: var(--globalFont);
  font-size: var(--fontSize);
}

header {
  background-image: url('./images/bg-mobile-light.jpg');
  height: 200px;
  padding: 10px 20px;
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.darkmode-header-bg-img {
  background-image: url('./images/bg-mobile-dark.jpg');
}

#h01 {
  align-self: flex-start;
  color: var(--veryLightGrayishBlue) !important;
  font-weight: 700 !important;
  letter-spacing: 5px;
  height: 50px;
  margin-top: 20px;
  width: 40%;
  text-align: left;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.header-icon {
  align-self: flex-start;
  background-image: url("./images/icon-moon.svg"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  margin-top: 35px;
  height: 20px;
  outline: none;
  width: 20px;
}

.bg-image-darkmode {
  background-image: url("./images/icon-sun.svg"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  align-self: flex-start;
  margin-top: 35px;
  height: 20px;
  width: 20px;
}

.darkmode {
  background-color: var(--veryDarkBlue);
  color: var(--lightGrayishBlue);
}

.wrapper {
  margin-left: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15px;
  width: 90%;
}

#form {
  position: absolute;
  right: 5%;
  top: 100px;
  width: 90%;
}

.inputbar {
  border-radius: 3px;
  font-weight: 400;
  padding: 10px 5px 10px;
  outline: none;
  width: 100%;
  background-color: white;
  border: 1px solid white;
  color: var(--darkGrayishBlue);
}

.inputbar-darkmode {
  background-color: var(--veryDarkDesaturatedBlue);
  border: 1px solid var(--veryDarkDesaturatedBlue);
  color: var(--lightGrayishBlue);
}

.inputbar-darkmode:focus {
  background-color: var(--veryDarkDesaturatedBlue);
  border: 1px solid var(--veryDarkDesaturatedBlue);
}

input[type="text"]::placeholder {
  padding-left: 20px;
  font-weight: 700;
}

.todocard-div {
  background-color: hsl(0, 0%, 98%);
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: var(--darkGrayishBlue);
  margin: 0;
  padding: 5px 0 0;
  position: absolute;
  right: 5%;
  top: 180px;
  width: 90%;
  height: auto;
  z-index: 1;
}

.todocard-div-darkmode {
  background-color: var(--veryDarkDesaturatedBlue);
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: var(--lightGrayishBlue);
  margin: 0;
  padding: 5px 0 0;
  position: absolute;
  right: 5%;
  top: 180px;
  width: 90%;
  height: auto;
  z-index: 1;
}

#todo-list{
  margin-bottom: 0 !important;
  padding: 5px 0 0;
  text-align: left;
  list-style-type: none;
}

.list-item {
  border-bottom: 1px solid var(--darkGrayishBlue);
  margin: 5px 0;
  padding: 10px  20px;
  font-weight: 700;
  position: relative;
}

.list-item-darkmode {
  border-bottom: 1px solid var(--veryDarkGrayishBlue);
  font-weight: 700;
  margin: 5px 0;
  padding: 10px  15px;
  position: relative;
}

li:first-of-type {
  margin-top: 5px;
}

li:last-of-type {
  margin-bottom: 5px;
}

.checkbox-container {
  margin: 8px;
}

input[type="checkbox"] {
  display: none;
}

label {
  cursor: pointer;
  position: relative;
  margin: 5px 15px 10px 5px;
}

label::before {
  content: '';
  height: 1.39em;
  left: -11px;
  outline: none;
  position: absolute;
  width: 1.39em;  
  transform: scale(0) rotateZ(180deg); 
  transition: all 0.3s;
}

input[type="checkbox"]:checked + label::before {
  background: url("./images/icon-check.svg") no-repeat, 
  linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  transform: scale(1) rotateZ(0deg);
}

label::after {
  border: 1px solid var(--darkGrayishBlue);
  border-radius: 50%;
  height: 1.5em;
  content: "";
  top: -1px;
  left: -12px;
  margin-right: 8px;
  position: absolute;
  width: 1.5em;
  -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
}

.delete-btn-light {
  /* background-color: var(--veryLightGray); */
  background-color: inherit;
  border: none !important;
  outline: none !important;
  position: absolute;
  right: 5px;
  top: 10px;
}

.btn > image {
  display: block;
}

.delete-btn-dark {
  /* background-color: var(--veryDarkDesaturatedBlue); */
  background-color: inherit;
  color: var(--lightGrayishBlue);
  border: none !important;
  outline: none !important;
  font-weight: 700;
  position: absolute;
  right: 5px;
  top: 10px;
}

.inner-todocard-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3px 5px;
}

.item {
  width: 40%;
}

.inner-todocard-div p {
  font-size: 14px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px 0;
  text-transform:  capitalize;
  color: var(--veryDarkGrayishBlue);
  font-weight: 700;
}

#clear-completed {
  text-decoration: none;
  color: var(--veryDarkGrayishBlue);
}

#clear-completed:hover {
  --lightGrayishBlue: var(--veryLightGrayishBlue);
  text-decoration: none;
  color:  var(--brightBlue);
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.nav {
  /* background-color: hsl(0, 0%, 98%); */
  background-color: inherit;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: flex;
  justify-content: center;
  color: var(--veryDarkGrayishBlue);
  padding: 10px;
  position: absolute;
  right: 2px;
  width: 100%;
}

.nav-darkmode {
  /* background-color: var(--veryDarkDesaturatedBlue); */
  background-color: inherit;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: flex;
  justify-content: center;
  padding: 10px;
  position: absolute;
  width: 100%;
  right: 2px;
}

.nav a {
  color: var(--lightGray);
  font-weight: 700;
  margin: 5px;
  text-decoration: none;
  text-transform: capitalize;
}

.nav a:hover {
  color: var(--brightBlue);
  text-decoration: none;
}

.pg-footer {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}


@media only screen and (min-width: 376px) and (max-width: 786px) {
  header {
    background-image: url('./images/bg-desktop-light.jpg');
    justify-content: space-around;
  }
  
  .darkmode-header-bg-img {
    background-image: url('./images/bg-desktop-dark.jpg');
  }

  #h01 {  
    width: 45%;  
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
    align-self: flex-start;
  }
  
  .header-icon {
    align-self: flex-start;
    background-image: url("./images/icon-moon.svg"); 
    height: 20px;
    margin-top: 35px;
    width: 20px;
  }

  .bg-image-darkmode {
    background-image: url("./images/icon-sun.svg"); 
  }

  .wrapper {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 70%;
  }

  #form {
    right: 15%;
    width: 70%;
  }

  .todocard-div {
    top: 170px;
    right: 15%;
    width: 70%;
  }
  
  .todocard-div-darkmode {
    right: 15%;
    width: 70%;
  }
  
  .item {
    width: 30%;
  }
} 

@media only screen and (min-width: 1024px) and (max-width: 1039px) {
  header {
    justify-content: space-around;
    background-size: cover;
    height: 225px;
  }
  #h01 {
    width: 40%;
    text-align: left;
  }

  .header-icon {
    /* width: 40%; */
  }

  .wrapper {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 70%;
  }

  #form {
    right: 15%;
    width: 70%;
  }

  .todocard-div {
    top: 170px;
    right: 15%;
    width: 70%;
    font-size: var(--fontSize);
  }
  
  .todocard-div-darkmode {
    right: 15%;
    width: 70%;
    font-size: var(--fontSize);
  }

  label > .todo-item {
    margin-top: 2px;
    margin-left: 25px !important;
  }
  
  .inner-todocard-div p {
    font-size: var(--fontSize);
  } 

  .nav {
    border-radius: none;
    box-shadow: none;
    position: static;
    padding: 5px 0;
    width: 50%;
  }

  .item {
    width: 20%;
  }
  
  .nav-darkmode {
    border-radius: 5px;
    box-shadow: none;
    position: static;
    width: 50%;
  }
  
  .nav a {
    margin: 0 5px 5px;
    font-size: var(--fontSize);
  }
  
}

/* Media Queries For Desktop */
@media only screen and  (min-width: 1440px) {
  header {
    background-image: url('./images/bg-desktop-light.jpg');
    justify-content: space-evenly;
    overflow: hidden;
    background-size: cover;
    height: 225px;
  }
  
  .darkmode-header-bg-img {
    background-image: url('./images/bg-desktop-dark.jpg');
  }  
  
  .header-icon {
    background-image: url("./images/icon-moon.svg");     
  }
  
  .bg-image-darkmode {
    background-image: url("./images/icon-sun.svg"); 
  }
  
  #h01 {
    font-size: 3rem;
    width: 10%;
  }
  
  .wrapper {
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 25px;
    padding-right: 25px;
    width: 40%;
  }

  #form {
    right: 30%;
    width: 40%;
  }

  .inputbar {
    padding: 15px 0;
  }

  label > .todo-item {
    margin-top: 2px;
    margin-left: 25px !important;
  }

  input[type="text"]::placeholder {
    font-size: 18px;
  }

  .todocard-div {
    top: 170px;
    right: 30%;
    width: 40%;
    font-size: var(--fontSize);
  }
  
  .todocard-div-darkmode {
    right: 30%;
    width: 40%;
    font-size: var(--fontSize);
  }
    
  .inner-todocard-div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .item {
    width: 20%;
  }
  
  .inner-todocard-div p {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 0;
    font-size: var(--fontSize);
  }
  
  .nav {
    border-radius: none;
    box-shadow: none;
    position: static;
    padding: 5px 0;
    width: 50%;
  }

  .item {
    width: 20%;
  }
  
  .nav-darkmode {
    border-radius: 5px;
    box-shadow: none;
    position: static;
    width: 50%;
  }
  
  .nav a {
    margin: 0 5px 5px;
    font-size: var(--fontSize);
  }

  .pg-footer {
    font-size: 18px;
  }   
}

